{% extends model('component') %}

{% define config = {
    name: 'shipment-methods',
    tag: 'shipment-methods'
} %}

{% block body %}
    <div class="{{ config.name }}__holder"></div>
{% endblock %}
