{% extends "@checkout/layout.twig" %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <div class="callout success">
                <h3>{{ 'checkout.step.success.title' | trans }}</h3>
                {{ 'checkout.step.success.text' | trans }}

                {% if isAsynchronous %}
                    {{ 'amazonpay.success.asyncronous.text' | trans }}
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        window.onAmazonLoginReady = function() {
            amazon.Login.logout();
        };
    </script>
    {% include "@amazon-pay/partials/scripts.twig" %}
{% endblock %}

