{% extends model('component') %}

{% define config = {
    name: 'address-book',
    tag: 'address-book'
} %}

{% define attributes = {
    clientId: required,
    sellerId: required,
    orderReferenceUrl: required,
    shipmentMethodsUrl: required,
    locale: required,
    addressBookMode: null,
    orderReferenceId: null
} %}

{% block body %}
    {#<div id="{{ config.jsName }}__item"></div>#}
    <div id="amazonpayAddressBookWidgetContainer"></div>
{% endblock %}
