@mixin amazon-pay-payment($name: '.payment') {
    #{$name} {
        &__address-item,
        &__wallet-item {
            min-width: 300px;
            width: 100%;
            max-width: 900px;
            min-height: 228px;
            height: 240px;
            max-height: 400px;
        }

        @content;
    }
}

@include amazon-pay-payment();
