{% extends "@checkout/layout.twig" %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <div class="callout success">
                <h3>{{ 'checkout.step.success.title' | trans }}</h3>
                {{ 'checkout.step.success.text' | trans }}

                {% if isAsyncronous %}
                    {{ 'amazonpay.success.asyncronous.text' | trans }}
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        window.onAmazonLoginReady = function() {
            amazon.Login.logout();
        };
    </script>
    <script async="async"
            src='https://static-eu.payments-amazon.com/OffAmazonPayments/eur/sandbox/lpa/js/Widgets.js'>
    </script>
{% endblock %}
