{% extends "@checkout/layout.twig" %}

{% block javascript %}
<script src="/assets/default/js/spryker-yves-amazon-pay-force-logout.js"></script>
{% include "@amazon-pay/partials/scripts.twig" %}
{% endblock %}

{% block content %}
    <div class="row" data-component="amazon-pay-force-logout">
        <div class="small-12 columns">
            <div class="callout success" data-component="amazon-payments-force-logout">
                <h3>{{ 'checkout.step.success.title' | trans }}</h3>
                {{ 'checkout.step.success.text' | trans }}

                {% if isAsynchronous %}
                    {{ 'amazonpay.success.asyncronous.text' | trans }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

