#amazonpayAddressBookWidgetDiv {
    min-width: 300px;
    width: 100%;
    max-width: 900px;
    min-height: 228px;
    height: 240px;
    max-height: 400px;
}

#amazonpayWalletWidgetDiv {
    min-width: 300px;
    width: 100%;
    max-width: 900px;
    min-height: 228px;
    height: 240px;
    max-height: 400px;
}
