{% extends template('widget') %}

{% block body %}
    <div class="box">
        <ul class="list-switches">
            {% for shipmentMethod in _view.shipmentMethods %}
                <li class="list-switches__item">
                    <input type="radio"
                           id="amazonpayShipmentMethod_{{ shipmentMethod.idShipmentMethod }}"
                           class="radio"
                           name="amazonpayShipmentMethod"
                           value="{{ shipmentMethod.idShipmentMethod }}"
                           {% if _view.selectedShipmentMethodId == shipmentMethod.idShipmentMethod %} checked="checked"{% endif %}
                           {% if _view.isAmazonPaymentInvalid %} disabled="disabled"{% endif %}
                    />
                    <label class="radio__label label"
                           for="amazonpayShipmentMethod_{{ shipmentMethod.idShipmentMethod }}">
                        {{ shipmentMethod.name }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
