<script>
    var amazonpayConfig = {
        clientId: "{{ amazonpayConfig.clientId }}",
        sellerId: "{{ amazonpayConfig.sellerId }}",
        logout: {{ logout }},
        redirectUrl: "{{ path('amazonpay_checkout', {'amazonpay': 'amazonpay'}) }}"
    };
</script>

<div id="AmazonPayButton" align="center"></div>
<script>
    window.onAmazonLoginReady = function() {
        if (amazonpayConfig.logout) {
            amazon.Login.logout();
        }

        amazon.Login.setClientId(amazonpayConfig.clientId);
    };

    window.onAmazonPaymentsReady = function() {
        // render the button here
        var authRequest;
        var addressConsentToken;

        OffAmazonPayments.Button('AmazonPayButton', amazonpayConfig.sellerId, {
            type:  'PwA',
            color: 'Gold',
            size:  'medium',
            language: 'en-GB',

            authorization: function() {
                loginOptions = {scope: 'profile postal_code payments:widget payments:shipping_address payments:billing_address', popup: true};
                authRequest = amazon.Login.authorize (loginOptions, function(response) {
                    addressConsentToken = response.access_token;
                });
            },

            onSignIn: function (orderReference) {
                var referenceId = orderReference.getAmazonOrderReferenceId();

                if (!referenceId) {
                    errorHandler(new Error('referenceId missing'));
                } else {
                    window.location = amazonpayConfig.redirectUrl + '?reference_id=' +
                        orderReference.getAmazonOrderReferenceId() +
                        "&access_token=" + addressConsentToken;
                }
            }
        });
    }
</script>
<script async="async"
        src='https://static-eu.payments-amazon.com/OffAmazonPayments/eur/sandbox/lpa/js/Widgets.js'>
</script>
