<!-- Place this code in your HTML where you would like the wallet widget to appear. -->
<div id="amazonpayWalletWidgetDiv"> </div>

<script>
    var amazonpayConfig = {
        clientId: "{{ amazonpayConfig.clientId }}",
        sellerId: "{{ amazonpayConfig.sellerId }}"
    };
</script>

<script src="/assets/default/js/spryker-yves-amazon-pay-wallet.js"></script>
