<div id="amazonpayWalletWidgetDiv"> </div>

<script>
    var amazonpayConfig = {
        clientId: "{{ amazonpayConfig.clientId }}",
        sellerId: "{{ amazonpayConfig.sellerId }}"
    };
</script>

<script src="/assets/default/js/spryker-yves-amazon-pay-wallet.js"></script>
