@mixin amazon-pay-wallet($name: '.wallet') {
    #{$name} {
        &__item {
            min-width: 300px;
            width: 100%;
            max-width: 900px;
            min-height: 228px;
            height: 240px;
            max-height: 400px;
        }

        @content;
    }
}

@include amazon-pay-wallet();
